@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #eaeaea;
}

button:active {
  background-color: #914b2f;
}

/* .active * {
  color: #f5cb5c;
} */

/* news background gradient  */
.orange-gra {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

/* text gradient */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
}
