@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #eaeaea;
}

button:active {
  background-color: #914b2f;
}

/* .active * {
  color: #f5cb5c;
} */

.orange-gra {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}
